<html>
    <title>Graph Theory Layouts Package (org.bm.blaise.scio.graph.layout)</title>
    <body>
      <p>
          This package contains methods for laying out the vertices/nodes of a graph.
      </p>
      <p>
          Two kinds of layouts are supported: <i>static</i> and <i>iterative</i>. Static layout methods
          are described by the <code>StaticGraphLayout</code> interface, and iterative layouts
          by the <code>IterativeGraphLayout</code> interface. The static interface contains a single
          <code>layout</code> method which returns computed positions of a graph's nodes (with optional
          parameters). The iterative interface contains a <code>reset</code> method, an <code>iterate</code>
          method, and a <code>getPoints</code> method.
      </p>
  </body>
</html>
